<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>W-分组</title>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <block name="include"><include file="Base:baseLeft" /></block>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Excel <small>一堆Excel</small><code>右边这个是个搜索框，可以搜索文件标题跟文件名称啊，别傻不拉几的不用,如果误删除了，给仝朋朋联系，他能给你恢复过来，收费！</code></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <form action="{:U('Excel/index')}" method="GET">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for..." name="content" value="{$content}">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">

              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><button type="button" class="btn btn-round btn-primary" data-toggle="modal" data-target="#addModal">添加Excel</button></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>编号</th>
                          <th>标题</th>
                          <th>文件名</th>
                          <th>添加日期</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <empty name="list">
                          <tr>
                            <td colspan="6">无数据</td>
                          </tr>
                        <else/>
                          <volist name="list" id="vo">
                            <tr>
                              <th scope="row">{$vo.id}</th>
                              <td>{$vo.title}</td>
                              <td>{$vo.filename}</td>
                              <td>{$vo.addtime}</td>
                              <td>
                              	<a href="javascript:;" class="btn btn-round btn-default editm" data-id="{$vo.id}" data-title="{$vo.title}" data-filename="{$vo.filename}">编辑Excel</a>
                                <a href="{:U('Excel/seeExcel', ['group_id' => $vo['id']])}" class="btn btn-round btn-default">查看详细数据</a>
                                <a href="{:U('Excel/downLoad',['group_id' => $vo['id']])}" class="btn btn-round btn-default">下载Excel</a>
                                
                                <a href="{:U('Excel/delExcel',['group_id' => $vo['id']])}" class="btn btn-round btn-danger">删除Excel</a>

                              </td>
                            </tr>
                          </volist>
                        </empty>
                      </tbody>
                    </table>
                    
                    <div class="Pagination">{$show}</div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <!-- 添加Excel start（Modal） -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              添加Excel
            </h4>
          </div>
          <form  class="form-horizontal form-label-left" action="{:U('Excel/addExcel')}" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Excel标题
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" name="title" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Excel文件名称
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" name="filename" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="submit" class="btn btn-primary">添加</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- 添加Excel end -->

    <!-- 编辑Excel start（Modal）-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title">
              编辑Excel
            </h4>
          </div>
          <form  class="form-horizontal form-label-left" action="{:U('Excel/editExcel')}" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Excel标题
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" name="title" required="required" class="form-control col-md-7 col-xs-12">
                  <input type="hidden" name="group_id" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Excel文件名称
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" name="filename" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭
              </button>
              <button type="submit" class="btn btn-primary">编辑</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- 编辑Excel end -->

    <!-- jQuery -->
    <script src="__VENDORS__/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="__VENDORS__/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="__VENDORS__/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="__VENDORS__/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="__VENDORS__/iCheck/icheck.min.js"></script>

    <script src="__ASSETS__/layer/layer/layer.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="__BUILD__/js/custom.js"></script>
    <script type="text/javascript">
      // 编辑Excel展示modal
      $('.editm').click(function() {
      	var that = $(this);
      	var group_id = that.attr('data-id');
      	var title = that.attr('data-title');
      	var filename = that.attr('data-filename');

      	if (!$.trim(group_id) ) {
      		layer.msg('这个Excel有问题，唯一标识不存在，不能编辑', {icon: 7});
          	return false;
      	}
      	if (!$.trim(title) ) {
      		layer.msg('这个Excel有问题，标题不存在，不能编辑', {icon: 7});
          	return false;
      	}
      	if (!$.trim(filename) ) {
      		layer.msg('这个Excel有问题，文件名不存在，不能编辑', {icon: 7});
          	return false;
      	}
      	$('#editModal').find('input[name="title"]').val(title);
      	$('#editModal').find('input[name="filename"]').val(filename);
      	$('#editModal').find('input[name="group_id"]').val(group_id);

      	$('#editModal').modal('show');

      });
    </script>
  </body>
</html>