<!DOCTYPE HTML>
<html>
	<head>
		<title>仝朋朋个人页</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="__ASSETS__/css/main.css" />
		<noscript><link rel="stylesheet" href="__ASSETS__/css/noscript.css" /></noscript>
		<style type="text/css">
			.cl{
				color: 	#EAC100;
			}
		</style>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major"><!--[-->你好，我是<!--]--><br />
									<!--[-->{$data.name}<!--]--></h1>
									<p>{$data.detail}</p>
									<ul class="actions">
										<li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
									</ul>
								</div>
								<div class="image filtered span-1-75" data-position="25% 25%">
									<img src="__IMAGES__/pic01.jpg" alt="" />
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-12">
									<h2 class="major">个人基本资料</h2>
									<table>
										<tr>
											<td >性别</td>
											<td class="cl">男</td>
											<td>出生年月</td>
											<td class="cl">1996年11月16日</td>
											<td>学历</td>
											<td class="cl">大专</td>
										</tr>
										<tr>
											<td>身高</td>
											<td class="cl">186厘米</td>
											<td>体重</td>
											<td class="cl">98公斤</td>
											<td>居住地区</td>
											<td class="cl">山东德州</td>
										</tr>
										<tr>
											<td>工作地区</td>
											<td class="cl">德州</td>
											<td>民族</td>
											<td class="cl">汉族</td>
											<td>平均月薪</td>
											<td class="cl">4000+</td>
										</tr>
										<tr>
											<td>是否购房及地区</td>
											<td class="cl">开发区</td>
											<td>恋爱次数及总时间</td>
											<td class="cl">0次</td>
											<td>是否吸烟</td>
											<td class="cl">否</td>
										</tr>
										<tr>
											<td>是否喝酒</td>
											<td class="cl">喝</td>
											<td>兴趣爱好</td>
											<td class="cl">运动、阅读代码</td>
											<td>职业</td>
											<td class="cl">程序员</td>
										</tr>
									</table>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="__IMAGES__/pic02.jpg" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">我会的</h2>
									<label>关于工作</label>
									<span>
										PHP&nbsp;/&nbsp;Linux&nbsp;/&nbsp;HTML&nbsp;/&nbsp;CSS&nbsp;/&nbsp;JavaScript&nbsp;/&nbsp;Git&nbsp;/&nbsp;Mysql&nbsp;/&nbsp;搜索&nbsp;/&nbsp;学习&nbsp;/&nbsp;交际
									</span>
									<label style="margin-top: 10px;">关于生活</label>
									<span>
										运动&nbsp;/&nbsp;听从&nbsp;/&nbsp;放松&nbsp;/&nbsp;聚会
									</span>
								</div>
								<div class="inner">
									<ul class="grid-icons three connected">
										<li><span class="icon fa-diamond"><span class="label">Lorem</span></span></li>
										<li><span class="icon fa-camera-retro"><span class="label">Ipsum</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Dolor</span></span></li>
										<li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li>
										<li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li>
										<li><span class="icon fa-code"><span class="label">Nullam</span></span></li>
									</ul>
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight large left">
								<div class="content span-5">
									<h2 class="major">友有四品</h2>
									<pre>有一天，一位信徒请教释迦牟尼：“如何才能交到志同道合的朋友？”

释迦牟尼说：“友有四品，不可不知。”
“哪四品呢？”信徒问。
“有友如花，有友如秤，有友如山，有友如地，是谓四品。”释迦牟尼说，“何谓如花？好时插头，萎时捐弃，见富贵附，贫贱则弃，这是花友。何谓如秤？物重头低，物轻则仰，有与则敬，无与则慢，这是秤友。何谓如山？壁如金山，鸟兽集之，毛羽蒙光，贵能荣人，富乐同欢，这是山友。何谓如地？百谷财宝，一切仰之，施给养护，恩厚不薄，这是地友。”

“四种朋友，我们如何选择呢？”信徒再问。

释迦牟尼说：“前二者，攀富贵，弃贫贱，有赠则尊敬，无赠则怠慢，都是嫌贫爱富的酒肉朋友，不能视为知己；后二者，能把欢乐给别人，护卫一切众生，恩厚不薄，这才是我们所要交往的朋友。”</pre>
								<p>来源：网易博客 作者:吴正清</p>
								</div>
								<div class="image filtered tinted" data-position="top right">
									<img src="__IMAGES__/pic03.jpg" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel">
								<div class="intro color2">
									<h2 class="major">相册</h2>
									<p>不管你曾经被伤害得有多深，总会有一个人的出现，让你原谅之前生活对你所有的刁难。——宫崎骏</p>
								</div>
								<div class="gallery">
									<div class="group span-3">
										<a href="__IMAGES__/gallery/fulls/01.jpg" class="image filtered span-3" data-position="bottom">
											<img src="__IMAGES__/gallery/thumbs/01.jpg" alt="" />
										</a>
										<a href="__IMAGES__/tpp/tpp_1.jpg" class="image filtered span-1-5" data-position="center">
											<img src="__IMAGES__/tpp/tpp_1.jpg" alt="" />
										</a>
										<a href="__IMAGES__/tpp/tpp_2.jpg" class="image filtered span-1-5" data-position="bottom">
											<img src="__IMAGES__/tpp/tpp_2.jpg" alt="" />
										</a>
									</div>
									<a href="__IMAGES__/tpp/tpp_3.jpg" class="image filtered span-2-5" data-position="top">
										<img src="__IMAGES__/tpp/tpp_3.jpg" alt="" />
									</a>
									<div class="group span-4-5">
										<a href="__IMAGES__/tpp/tpp_4.jpg" class="image filtered span-3" data-position="top">
											<img src="__IMAGES__/tpp/tpp_4.jpg" alt="" />
										</a>
										<a href="__IMAGES__/tpp/tpp_5.jpg" class="image filtered span-1-5" data-position="center">
											<img src="__IMAGES__/tpp/tpp_5.jpg" alt="" />
										</a>
										<a href="__IMAGES__/tpp/tpp_6.jpg" class="image filtered span-1-5" data-position="bottom">
											<img src="__IMAGES__/tpp/tpp_6.jpg" alt="" />
										</a>
										<a href="__IMAGES__/tpp/tpp_7.jpg" class="image filtered span-3" data-position="top">
											<img src="__IMAGES__/tpp/tpp_7.jpg" alt="" />
										</a>
									</div>
									<a href="__IMAGES__/gallery/fulls/09.jpg" class="image filtered span-2-5" data-position="right"><img src="__IMAGES__/gallery/thumbs/09.jpg" alt="" /></a>
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color4-alt">
								<div class="intro color4">
									<h2 class="major">联系</h2>
									<p>
										I see you.
									</p>
								</div>
								<div class="inner columns divided">
									<div class="span-3-25">
										<form method="post" action="" id="myForm">
											<div class="field half">
												<label for="name">姓名</label>
												<input type="text" name="name" id="name" placeholder="你可以写昵称" />
											</div>
											<div class="field half">
												<label for="name">联系方式</label>
												<input type="text" name="contact" id="contact" placeholder="微信、手机号、邮箱等,我都行" />
											</div>
											<div class="field">
												<label for="message">告诉我？</label>
												<textarea name="message" id="message" rows="4" placeholder="你想给我说什么"></textarea>
											</div>
											<ul class="actions">
												<li><input type="submit" value="发送" class="button special" id="send"/></li>
											</ul>
										</form>
									</div>
									<div class="span-1-5">
										<ul class="contact-icons color1">
											<li class="icon fa-home"><a href="{:U('Index/index')}" title="去主页">@主页</a></li>
											<li class="icon fa-send"><a href="{:U('Index/time')}" title="一个神秘的地方">倒计时</a></li>
											<li class="icon fa-qq" id="qq"></li>
											<li class="icon fa-medium"  id="qqk"></li>
										</ul>
									</div>
								</div>
							</section>
                            

					</div>

			</div>

		<!-- Scripts -->
			<script src="__ASSETS__/js/jquery.min.js"></script>
			<script src="__ASSETS__/js/skel.min.js"></script>
			<script src="__ASSETS__/js/main.js"></script>
			<script src="__ASSETS__/layer/layer/layer.js"></script>

	</body>
	<script type="text/javascript">
		var str = '页面是模板之家的，逻辑是PHP写的，服务器是自己搭建的，域名是随便凑的。';
		console.log(str)
	</script>
	<script type="text/javascript">
		// 通知
		$('#send').click(function() {
			var name = $('#name').val();
			var contact = $('#contact').val();
			var message = $('#message').val();
			
			if (!$.trim(name)) {
				layer.msg('请告诉我你的名字');
				return false;
			}
			if (!$.trim(contact)) {
				layer.msg('请告诉我你的联系方式');
				return false;
			}
			if (!$.trim(message)) {
				layer.msg('你要给我说什么');
				return false;
			}
			$.ajax({
            //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "{:U('Index/Contact')}" ,//url
                data: $('#myForm').serialize(),
                success: function (result) {
                	layer.msg(result.msg);
                },
                error : function() {
                    alert("ajax坏了，破系统，坏了，刷新重新试试");
                }
            });
            return false;
		});
	</script>
	<!-- qq分享单个人 -->
    <script type="text/javascript">
(function(){
var p = {
url:location.href, /*获取URL，可加上来自分享到QQ标识，方便统计*/
desc:'', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
title:'', /*分享标题(可选)*/
summary:'', /*分享摘要(可选)*/
pics:'', /*分享图片(可选)*/
flash: '', /*视频地址(可选)*/
site:'', /*分享来源(可选) 如：QQ分享*/
style:'101',
width:96,
height:24
};
var s = [];
for(var i in p){
s.push(i + '=' + encodeURIComponent(p[i]||''));
}
var link = '<a class="twitter" href="http://connect.qq.com/widget/shareqq/index.html?'+s.join('&')+' target="_blank"title="qq个人分享">qq个人分享</a>';
$('#qq').append(link);
})();
</script>
<script src="http://connect.qq.com/widget/loader/loader.js" widget="shareqq" charset="utf-8"></script>

<!-- qq分享单个人 end-->

<!-- qq分享空间 -->
<script type="text/javascript">
(function(){
var p = {
url:location.href,
showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
desc:'',/*默认分享理由(可选)*/
summary:'',/*分享摘要(可选)*/
title:'',/*分享标题(可选)*/
site:'',/*分享来源 如：腾讯网(可选)*/
pics:'', /*分享图片的路径(可选)*/
style:'203',
width:98,
height:22
};
var s = [];
for(var i in p){
s.push(i + '=' + encodeURIComponent(p[i]||''));
}
var link = '<a version="1.0" class="twitter" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?'+s.join('&')+' target="_blank" title="qq分享空间">qq分享空间</a>';
$('#qqk').append(link);
// document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
})();
</script>
<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>

<!-- qq分享空间 end -->
</html>