<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>轨迹回放</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://webapi.amap.com/maps?v=1.3&key=2b9c7706ab44c6df65a194bcb9f5b030"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/jquery-1.8.3.js"></script>
</head>
<body>
<input type="hidden" id='len' value="{$len}">
<div id="container"></div>
<div class="button-group">
    <input type="button" class="button" value="开始动画" id="start"/>
    <input type="button" class="button" value="停止动画" id="stop"/>
</div>
<script>
    var marker, lineArr = [];
    var map = new AMap.Map("container", {
        resizeEnable: true,
        center: [116.397428, 39.90923],
        zoom: 17
    });
    map.on("complete", completeEventHandler);
    AMap.event.addDomListener(document.getElementById('start'), 'click', function() {
        marker.moveAlong(lineArr, 500);
    }, false);
    AMap.event.addDomListener(document.getElementById('stop'), 'click', function() {
        marker.stopMove();
    }, false);

    // 地图图块加载完毕后执行函数
    function completeEventHandler() {
        marker = new AMap.Marker({
            map: map,
            // 
            position: [116.394759,37.425597],
            icon: "http://webapi.amap.com/images/car.png",
            offset: new AMap.Pixel(-26, -13),
            autoRotation: true
        });






        //var lngX = 121.50457499999999, latY = 31.242533333333334;

        var points='{$xy}';
        // var point_arr=points.split(',');
        var points_arr=eval("("+points+")");
    
        <php>
            for($i=0;$i<$len;$i++){
        </php>
            lineArr.push([
                points_arr[<php>echo $i</php>].split(',')[1],points_arr[<php>echo $i</php>].split(',')[0]
            
            ]);
        <php>
        }
        </php>
        // lineArr.push([116.393617,37.428664]);
        // lineArr.push([116.393606,37.427616]);
        // lineArr.push([116.393579,37.426687]);
        // lineArr.push([116.393547,37.425823]);
        // lineArr.push([116.394759,37.425597]);

        // lineArr.push([
        //     <php>for($i=0;$i<$len;$i++){</php>
        //             Number(points_arr[<php>echo $i</php>].split(',')[1]),Number(points_arr[<php>echo $i</php>].split(',')[0])
        //     <php>}</php>
        //     ]);
        // 绘制轨迹
        var polyline = new AMap.Polyline({
            map: map,
            path: lineArr,
            strokeColor: "#00A",  //线颜色
            strokeOpacity: 1,     //线透明度
            strokeWeight: 3,      //线宽
            strokeStyle: "solid"  //线样式
        });
        map.setFitView();
    }
</script>
</body>
</html>